/* Menggunakan gambar berpola rumus-rumus matematika
 * di background.
 */
.root {
	min-height: 100vh;
	background-image: url('/storage/images/background.png');
	background-repeat: repeat;
	background-size: 640px 320px;
}

/* Color pallette yang digunakan. */
.site-bg-blue 	{ background-color: #309B9C; }
.site-bg-red 	{ background-color: #8C0703; }
.site-bg-grey	{ background-color: #F3F8E9; }

/* Karena style bawaan untuk .border-warning dari 
 * bootstrap sangat tipis garisnya.
 */
.site-border-left-red {
	border-left: 2px solid #8C0703;
}

/**
 * Untuk mengatur ukuran dari tiap jenis editor 
 * yang ada pada website.
 */
#question-typing-area {
	min-height: 100px;
}
#answer-typing-area {
	min-height: 75px;
}

/* Memastikan ukuran dari gambar yang berasal 
 * dari server tidak oversize.
 */
.server-image {
	width: 100%;
	height: auto;
}

/* Untuk tulisan yang ada di samping logo website
 * pada navbar.
 */
.site-navbar-brand-name {
	position: relative;
	top: 0.15rem;
	font-weight: bold;
	font-style: italic;
}

/* Sedikit menggeser posisi gambar (vertikal) */
.site-navbar-user-image {
	position: relative;
	top: -0.15rem;
}

/**
 * Tulisan yang akan ditampilkan di section tertentu
 * sebagai title dari section terkait. 
 */
.site-title-section {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.4rem 0.75rem;
	border-radius: 1.5rem 0 1.5rem 0;
}

/* Untuk menumpulkan border-radius dari element */
.site-border-radius-rounded-topleft {
	border-radius: 1.5rem 0.25rem 0.25rem 0.25rem;
}

/* Membuat bentuk sebuah element menjadi lingkaran */
.site-shape-circle {
	border-radius: 50%;
}
